<div class="jr-body">
	<div class="container">
		<div class="commute-container">
			<h2 class="modal-title" style="text-align: center;">
				JustRide Commute
			</h2>
			<h4 class="modal-title" style="text-align: center;">
				Drive a new car every week
			</h4>
			<div class="row">
				<div class="col-lg-4">
					
				</div>
				<div class="col-lg-4"></div>
				<div class="col-lg-4"></div>
			</div>		
			<div class="row">
				<h4 class="modal-title" style="text-align: center;">
					Why JustRide Packages?
				</h4>			
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<p class="pos-name">
						Get a JustRide car from Sunday to Friday
					</p>
					<p class="pos-loc">
						Drive any JustRide car for one entire week
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<p class="pos-name">
						New car every week
					</p>
					<p class="pos-loc">
						Choose from our plethora of vehicle models and arrive in a new car every week
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<p class="pos-name">
						Affordable prices for luxury cars
					</p>
					<p class="pos-loc">
						Drive a BMW for as less as 5000 a week. That's 1000 a day. 
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<p class="pos-name">
						Worry-free driving
					</p>
					<p class="pos-loc">
						Fuel, taxes and insurance is handled by us.
					</p>
				</div>
			</div>
			<div class="row">
				<h4 class="modal-title" style="text-align: center;">
					Available Packages
				</h4>			
			</div>
			<div class="row">
				<div class="col-lg-3" ng-repeat="c in cars">
					<div class="car-img" style="background: #fff;height: 165px;">
						<img class="img-responsive" ng-src="{{c.image}}">
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
