<!-- <section class="jr-body">
	<div class="container">
		<div class="col-lg-offset-1 col-lg-10 col-sm-12">
			<div class="row">
				<h2 class="term-header">
					We're hiring
				</h2>
				<p class="hire-sub-header">
					At JustRide, we're not looking for just another employee. If you have what it takes to build a world class company, we're waiting to hear from you.
				</p>
				<p class="hire-sub-header">
					Drop us a mail at <a href="mailto:careers@justride.in">careers@justride.in</a>. We'll be happy to hear from you.
				</p>				
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h3 class="modal-title" style="text-align: center;">
						Reasons to work with us
					</h3>
				</div>
				<div class="col-lg-6" style="margin-bottom: 10px;">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
							<img class="img-responsive career-img" src="https://s3-ap-southeast-1.amazonaws.com/justride-assets/public/selfdrive-career-1.png">
						</div>
						<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
							<h4 class="modal-title">
								Ideas
							</h4>
							<p class="pos-loc" style="text-align: left;">
								The ideas of our people inspire our innovation. Overcoming the biggest of challenges to leave an impact on society is what drives us.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6" style="margin-bottom: 10px;">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
							<img class="img-responsive career-img" src="https://s3-ap-southeast-1.amazonaws.com/justride-assets/public/selfdrive-career-2.png">
						</div>
						<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
							<h4 class="modal-title">
								Pushing Boundaries
							</h4>
							<p class="pos-loc" style="text-align: left;">
								Our growth is the result of the continuous effort and struggle of our people. 	We believe in pushing our boundaries every day to grow and get better at what we do.
							</p>
						</div>
					</div>
				</div>	
				<div class="col-lg-6" style="margin-bottom: 10px;">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
							<img class="img-responsive career-img" src="https://s3-ap-southeast-1.amazonaws.com/justride-assets/public/selfdrive-career-3.png">
						</div>
						<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8" style="padding-top: 20px;">
							<h4 class="modal-title">
								Creating Impact
							</h4>
							<p class="pos-loc" style="text-align: left;">
								If your work doesn’t create an impact, its time to get to the drawing board.
							</p>
						</div>
					</div>
				</div>	
				<div class="col-lg-6" style="margin-bottom: 10px;">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
							<img class="img-responsive career-img" src="https://s3-ap-southeast-1.amazonaws.com/justride-assets/public/selfdrive-career-4.png">
						</div>
						<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8" style="padding-top: 20px;">
							<h4 class="modal-title">
								Value to Customers
							</h4>
							<p class="pos-loc" style="text-align: left;">
								At JustRide we believe in adding value to our customers and not just building a company. The thirst to solve our customer’s problems is what drives us every day.
							</p>
						</div>
					</div>
				</div>		
			</div>
			<div class="row" ng-repeat="p in positions" style="margin-top: 30px;">
				<div class="col-lg-12">
					<h3 class="term-header" style="text-align: left;">
						{{p.dept}}
					</h3>
				</div>
				<div class="col-lg-12 col-xs-12">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-repeat="o in p.positions">
							<p class="pos-name">
								{{o.title}}
							</p>
							<p class="pos-loc">
								{{o.location}}
							</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<div dynamic="html">
	
</div>