.table-data{
	text-align:center;
}
.active-check{
	color:#4BB74C;
}

.active-check:hover{
	color: #7CFC00;
	cursor: pointer;
}

.check-active:hover{
	background: #4BB74C;
	cursor: pointer;
}

.default-check{
	color: #696969;
	cursor: pointer;
}

.pencil{
	color: #0BB5FF;
	cursor: pointer;
}

.check-pencil:hover{
	background-color: #26466D;
	cursor:pointer;
}

.trash{
	color: #ff7f7f;
	cursor: pointer;
}

.trash-can:hover{
	background-color:#FF4500;
}

.editContent{
	display: none;
	background-color: #f5f5f5;
	/*background-color: rgba(39,41,48,.47) !important;*/
    box-shadow: 0 0 20px rgba(255,255,255,.07) !important;
}

.outer-bank-detail{
    background-color: #F1F1F1;
    box-shadow: 0 0 20px rgba(255,255,255,.07) !important;
    margin-left: auto;
    margin-right: auto;
    transition: 5s;
    color: #000000;
}

.inner-bank-detail{	
    padding: 20px;
    border-radius: 0px;
    color: #ffffff;
    transition: 5s;
}

.bank-form{
	padding:20px;
	margin-top: -25px;
}

.inner-bank-detail{
    padding: 20px;
    border-radius: 0px;
    color: #ffffff;
}

.form-header{
	background-color: #EAEAEA;
    box-shadow: 0 0 20px rgba(255,255,255,.07) !important;
    border-radius: 0px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

.form-footer{
	background-color: #F5F5F5;
    box-shadow: 0 0 20px rgba(255,255,255,.07) !important;
    padding: 10px;
    border-radius: 0px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.btn-danger{
	width:100%;
	border-radius: 0px;
}

.btn-danger:focus{
	outline:0 none;
}

.btn-success{
	width: 100%;
	border-radius: 0px;
	outline:none;
}

.btn-success:focus{
	outline:none;
}

.test{
	border-radius: 0px;
}

.deleteBtn{
	cursor:pointer;
}

.table-click{
	cursor: pointer;
}

td.table-pad > div{
	width: 100%; 
	min-height: 50px;
	overflow:hidden;
}


.table-bank-repeat{
	border:0px;
	padding:0px;
}

.table-row{
	margin-left: 0px;
	margin-right: 0px;
}

.table-bank-head{
	border: 0px;
	margin-left:0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.table-head{
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.angular-dynamic-table{
	border-bottom: 1px solid #ddd;
	padding: 10px;
	cursor: pointer;
}

.check-default{
	margin-left: 60px;
    margin-top: 10px;
}


.table-edit{
	border-bottom:1px solid #ddd;
	width: 50%;
}

.table-pad{
	padding: 0px;
}

.edit-detail-div{
	cursor: pointer;
	padding:0px;
	margin-top:10px;
}

.pencil-color:hover{
	color: #008000;
}

.delete-div:hover{
	cursor: pointer;
	padding:0px;
	text-align:center !important;
	margin-top:10px;
}

.trash-delete:hover{
	color: #FF0000;
}

.table-align{
	text-align: center;
	word-break:break-all;
}

@media screen and (max-width: 550px) {
    .media-table {
        padding-bottom: 13px;
    }

    .check-default{
    	margin-left: 20px;
    }

    .trash-delete{
    	margin-left: 20px;
    }
}


.contact-section{
	margin-left: auto;
	margin-right: auto;
	border:1px solid #000;
	max-width: 100%;
	height: auto;
}

.phone-section{
	float: right;
	display: -webkit-inline-flex;	
}


.contact-us-top{
	font-size: 15px;
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}


.email-section{
	display: -webkit-inline-flex;
	margin-left: 25px;
}

.form-mid-section-label{
	float: right;
	margin-top: 10px;
}

.form-mid-section-input{
	width: 25%;
	border-radius: 0px;
	border: 1px solid #000000;
}

.form-input-email{
	border-radius: 0px;
	border:1px solid #000000;
}

.email-div{
	width:18.5%;
}

.form-email-contact{
	border-radius:0px;
	border:1px solid #000;
}

.form-mid-section-phone{
	margin-left: 3px;
}

.form-phone-contact{
	border:1px solid #000000;
	border-radius: 0px;
}

.phone-div{
	padding-left:0px;
}

.phone-text-div{
	padding-right: 0px;
	width: 6.33333333%;
}


.form-phone-contact{
	width: 50%;
}


.nav-pane{
	width:100%;
	color: #000;
	list-style-type: none;
}

.faq-head{
	text-align: center;
	padding-top: 55px;
}

.list-pane{
	padding: 20px;
	background-color: #333333;
	opacity: 0.7;
	color: #ffffff;
}

.list-pane:hover{
	background-color: #000000;
	cursor: pointer;
}

.list-pane-fixed{
	border-left: 5px solid #d30606;
	background-color: #000000;
}

.faq-content-section{
	padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 5px;
    list-style-type: none;
    opacity: 0.7;
    color: #ffffff;
    margin-top: -22px;
}

.cd-faq{
	display: none;
}

.cd-faq-addFirst{
	display: block;
}

.booking-question{
	padding: 20px;
	color: #000000;
	border:1px solid #ffffff;
	background-color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1.6px 1.6px 1.6px 1.6px #bdbdbd;
}

.booking-question:hover{
	cursor: pointer;
	text-decoration: none;
}

.remove-link{
	text-decoration: none !important;
	font-size: 20px;
	font-weight: 300 !important;
	color: #757575;
}

.remove-link:hover{
	color: #757575;
}

.nav-fullWidth{
	position: fixed;
}

.section-body{
	padding-left:0px;
}

.cd-faq-twentyone{
 	display: none;
}

.cd-faq-twentytwo{
	display: none;
}


.body-section{
 	margin-left: -70px;
} 

@media only screen and (max-width: 1200px) {
 	.body-section{
 		margin-left: 30px;
 	}   
}

.nav-section{
	margin-left: 0px;
}

.nav-finalWidth{
	position: relative;
}

.heads-faq{
	color:#BBBBC7;
	font-size:14px;
	font-weight:bolder;
}

.faq-row{
	padding-top: 30px;
	padding-bottom: 30px;
}

.para-content{
  color: #424242;
  line-height: 2em;
  font-size: 15px;
  margin-top: 15px;
  text-align: justify;
  font-weight: 200;
}

.faq-margin-section{
	margin-top: 3px;
}


.tc-content-section{
	list-style-type: none;
}

.heads-tc{
	font-size: 14px;
}

.tc-section-left{
	position: fixed;
}
.policy-text{
	text-align: center;
	font-size: 14px;
}

.rent-section{
	text-align: center;
}

.rent-docs-list{
	list-style-type: none;
}

.policy-text-new{
	text-align: left;
	color: #6c7d8e;
    line-height: 1.6em;
    font-size: 15px;
    padding-top:8px !important;
}

.rental-section-head{
	line-height: 1.6em;
	font-size: 15px;
	margin-top: 0px;
}

.btn-disagree{
	width:100%;
	border-radius:0px;
	outline: none;
	background-color: #DC143C;
	color: #ffffff;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.btn-disagree:hover{
	width:100%;
	border-radius:0px;
	outline: none;
	background-color: #f92d2d;
	color: #ffffff;
}


.btn-agree{
	width: 100%;
	background-color: #009900;
	color: #ffffff;
	border-radius: 0px;
	background-image: -webkit-gradient(linear, 0% 30%, 50% top, color-stop(0%, rgba(75,204,40,0)), color-stop(40%, rgba(75,204,40,0)), color-stop(90%, rgba(75,204,40,0.3)), color-stop(100%, rgba(75,204,40,0))),-webkit-gradient(linear, 50% 30%, 100% top, color-stop(0%, rgba(75,204,40,0)), color-stop(25%, rgba(75,204,40,0.3)), color-stop(50%, rgba(75,204,40,0)), color-stop(80%, rgba(75,204,40,0.3)), color-stop(100%, rgba(75,204,40,0)));
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.btn-agree:hover{
	width:100%;
	border-radius:0px;
	outline: none;
	color: #ffffff;
	background-color: #00b200;
}

.quick-links-menu:hover{
	color:#000000;
	text-decoration: none;
}

.quick-links-menu{
	text-decoration: none;
}

.circle-edit{
	top: 120px !important;
	font-weight: 200;
    font-size: 14px;
    background-color: transparent;
}

.profile-imageNew{
	height: 250px;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
}


.nav-section-profile{
	height: 100%;
}

.nav-pane-profile{
	list-style-type: none;
	padding-left: 0px;
	text-align: left;
	color: #ffffff;
}

.list-pane-profile{
	padding: 20px;
	color: #000;
}

.list-pane-profile:hover{
	background-color: #EAEAEA;
	color: #000000;
	cursor: pointer;
}

.profile-image{
	max-height:200px;
	max-width:200px;
	border:1px solid #000000;
	border-radius: 50%;
	position: relative;
	margin-top: -100px;
	margin-left: auto;
	margin-right: auto;
}


.img-profile-new{
	border-radius:50%;
	width:200px;
	height:200px;
	border:5px solid #ffffff;
}

.change-image-content{
	margin-left: 50px;
    margin-right: auto;
    position: absolute;
    margin-top: -40px;
    color: #ffffff;
    cursor: pointer;
}

.setting-container{
	margin-top: 0px !important;
}

.profile-experience-section{
	height: 50px;
	display: inline-flex;
	width: 200px;
	margin-left: 30px;
	margin-right: auto;
	background-color: gray;
}

.profile-exp{
	padding:0px;
}


.exp-rating-bar{
	background-color: #000000;
	width:200px;
}

.profile-rating-exp{
	padding:20px;
	background-color: #000000;
	color:#ffffff;
}


@media screen and (max-width: 991px){
	.change-image-content{
		margin-left: 30px;
		margin-top: -50px;
	}
}

@media screen and (max-width: 767px){
	.change-image-content{
		margin-left: 50px;
		margin-top: -50px;
	}
}



#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.my-ride-panel{
	border:1px solid #000000;
}

.profile-block{
	border-left: 0px;
}

.expand-rides{
	cursor: pointer;
}

.expand-detail{
	background-color: #F1F1F1;
}

.extend-booking{
	background-color: #2c3e50;
}

.extend-booking:hover{
	background-color: #f92d2d;
}

.additional-booking{
	background-color: #2c3e50;
}

.additional-booking:hover{
	background-color: #f92d2d;
}

.bank-form{
	color: #000000;
}

.btn-close-form{
	background-color: #2C3E50;
	width:100%;
	border-radius: 0px; 
}

.btn-close-form:hover{
	background-color: #f92d2d;
	color:#fff;
	width:100%;
	border-radius: 0px; 
}

.btn-send{
	background-color: #2C3E50;
	width:100%;
	border-radius: 0px; 
}

.btn-send:hover{
	background-color: #228B22;
	width:100%;
	color: #ffffff;
	border-radius: 0px; 
}

.card-detail-form{
	color:#000000;
}


@media screen and (max-width:375px){
	.arrow-down-pickup{
		margin-top: -10px;
	}

	.arrow-down-responsible{
		margin-top: -60px;
	}


	.arrow-down-docs{
		margin-top: -60px;
	}

	.arrow-down-fuel{
		margin-top: -15px;
	}

	.arrow-kill-limit{
		margin-top: -15px;
	}

	.arrow-down-location{
		margin-top: -15px;
	}
}


@media screen and (max-width:414px){
	.arrow-down-rest{
		margin-top: -15px;
	}
}


@media screen and (max-width:360px){
	.arrow-down-booking{
		margin-top: -15px;
	}
}

.outstation-permit{
	list-style-type: none;
}

.left-panel{
	float: right;
}

.header-outstation{
	padding:20px;
}


.right-panel-outstation{
	background-color: #ffffff;
	vertical-align: middle;
	padding: 10px;
}

.visitor-head{
	margin: 0px !important;
}

.fade-right { 
    float: left;
	position: relative !important;
    display: none;
    background-color: #ffffff;
    max-width:780px;
    height: auto;
    padding:20px;
}


.state-charges { 
    float: left;
	position: relative !important;
    display: none;
    background-color: #ffffff;
    max-width:780px;
    height: auto;
    padding:20px;
}


.fade-left{
	float:left;
	display: block;
	background-color: #ffffff;
	max-width:780px;
	height:auto;
	padding:20px;
}

.photo-text {
    text-align:center; 
}

.photo-text span { 
    color: #ffffff; 
    font-weight:bold;
    margin-top:10px; 
}

.sexy-icon-visitor{
	height: 160px;
	max-width: 150px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

.icon-2-permit{
	margin-right: auto;
}


.outstation-permit{
	background-color: #FFFFFF;
	padding-left:0px;
}

.inner-outstation-info{
	padding:20px;
	cursor: pointer;
}

.inner-outstation-info:hover{
	background-color: #D1D1D1;
	transition: 1s;
}

.reimburseContent{
	display: none;
	padding: 10px;
	background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(255,255,255,.07) !important;
}

.visitorContent{
	display: none;
	padding: 10px;
	background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(255,255,255,.07) !important;
}

.visitorState{
	display: none;
	padding: 10px;
	background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(255,255,255,.07) !important;
}


.jrOldBody{
	height: auto;
}

.jrBodyHeight{
	height: 1190px;
}


.left-panel-outstation{
	width: 50%;
}


@media screen and (max-width:1198px){
	.left-panel-outstation{
		width:60%;
	}
}

@media screen and (max-width:1014px){
	.left-panel-outstation{
		width: 70%;
	}
}

@media screen and (max-width:767px){
	.left-panel-outstation{
		width: 100%;
		padding-right: 0px;
	}
}

.learn-more:hover{
	color: #d30606;
	text-decoration: none;
	transition: 1s;
}

@media screen and (max-width:1440px){
	.left-travel-panel{
		margin-left: -90px;
	}

	.reimbursable-permit{
		padding:0px;
	}

}

@media screen and (max-width:1199px){
	.left-travel-panel{
		margin-left: 0px;
	}

	.left-panel-outstation{
		width: 70%;
	}

	.reimbursable-permit{
		padding:0px;
	}

}

@media screen and (max-width:1174px){
	.left-panel-outstation{
		width: 100%;
	}
}


.visitor-border{
	border-left: 5px solid #d30606;
	background-color: #D1D1D1;
}



.responsive-height{
	height: 30px !important;
  	border: 1.5em solid #000;
}
  
.signup-text{
	color: red;
}

.signup-text:hover{
	color:#2c3e50;
}


.pdf-message{
	color: red;
	font-size: 14px;
	font-weight: 400;
}


.circle-to{
	margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    height: 30px;
    max-width: 30px;
    text-align: center;
    min-width: 30px;
    border-radius: 50%;
    background-color: #e1e1e1;
}


.circle-line-hr{
	margin:0px;
	margin-top: 15px;
	min-width:40px;
	border-bottom: 2px solid #e1e1e1;
}


.ride-details-head{
	color:#404040;
	padding-top:14px;
	font-weight:400;
}

.start-date-format{
	text-align:center;
	font-weight:200;
}

.car-name-booking{
	text-align: center;
    color: #565a5c;
    text-transform: uppercase;
    font-size: 14px;
}


.get-start-time{
	text-align:left;
	font-weight:200;
}

.get-end-time{
	text-align:right;
	margin-right:20px;
	font-weight:200;
}

.get-start-day{
	text-align:left;
	font-weight:200;
}

.get-end-day{
	text-align:right;
	margin-right:20px;
	font-weight:200;
}


.station-name{
	font-weight: 500;
    color: #565a5c;
}

.left-station-address{
	margin-left:20px;
	text-align:left;
	font-weight:200;
}

.right-station-address{
	text-align:left;
	margin-left:20px;
	font-weight:200;
}


.fare-head-font{
	font-size: 1em !important;
    color: #565a5c !important;
}

.fare-total{
	text-transform: uppercase;
	font-size: 17px !important;
	color: #565a5c !important;
}

.also-includes{
	color: #757575;
}


.text-duration{
	text-align: left;
    font-weight: 200;
    margin-left: 6px;
}

.add-on-fare{
	font-weight:500;
	color:#565a5c !important;
	font-size:1em !important;
}


.exclamation-mark-wrong{
	position: absolute;
    margin-left: 120px;
    margin-top: -30px;
}


.profile-sidebar{
	background-color:#F1F1F1;
	max-height:500px;
	min-height:500px;
}

.profile-ride-page{
	padding-left:0px;
	background-color:#FFFFFF;
	min-height:500px;
	max-height:500px;
	overflow-y: scroll; 
}


.profile-ride-page::-webkit-scrollbar {
    width: 5px;
}
 
.profile-ride-page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.profile-ride-page::-webkit-scrollbar-thumb {
  background-color: #F1F1F1;
  outline: 1px solid #F1F1F1;
}

.jr-index-button{
	background: none;
}

.jr-navbar-indexhbs{
	padding: 0;
}

.jr-map-indexhbs{
	margin-left: 5px;
}

.jr-map-inner-span{
	margin-left: 10px;
}


.jr-nav-links{
	cursor: pointer;
}

.jr-dropdown-list-one{
	padding-top: 15px;
}

.jr-unordered-list-margin{
	top: 25px;
}


.jr-profile-list{
	margin-bottom: 0px;
}

.jr-link-tag-profile{
	color:#333 !important;
	text-decoration: none;
}

.jr-section-change-view{
	min-height: 550px;
}

.jr-query-text{
	margin-top:15px;
}

.jr-support-text{
	padding-top:20px;
}

.jr-text-format-center{
	text-align: center;
}

.jr-addtional-booking-orderedlist{
	background-color: #ffffff;
}

.jr-media-body-mapwork{
	text-align: right;
}

.jr-additional-listone{
	padding: 0px;
}

.jr-mobile-additional{
	margin-right: 3px;
}

.jr-additional-image-car{
	margin-top: 25px;
}

.jr-additional-showmore{
	margin-top: 1%;
}

.jr-additional-footer-tag{
	margin-top:-20px;
}

.jr-additional-marginTop{
	margin-top:-20px;
}

.jr-additional-menu{
	text-align: right; 
	padding: 10px;
}

.jr-bank-detail-page-head{
	font-size: 2em;
}

.jr-bank-detail-page-adddetail{
	display: inline-block; 
	margin-top: 0px; 
	padding: 0px;
}

.jr-adddetail-bank-button{
	border-color:1px solid #5cb85c;
}

.jr-bank-icon-add{
	color:#fff;
}

.jr-bank-detail-head-page{
	padding-left: 15px; 
	display: inline-block;
}

.jr-bank-detail-delete-detail{
	padding:0px;
	text-align:center;
	margin-top:10px;
}

.jr-bookingtop-row{
	margin-top:100px;
}

.jr-left-panel-booking-page{
	padding-right:0px;
	opacity:1;
}

.jr-cursor-default{
	cursor:default;
}

.jr-body-section-ride-detail{
	margin:0px;
}

.jr-ride-detail-col{
	text-align:center;
}

.jr-ride-detail-top-hr{
	width:90%;
	border-bottom:1px solid #c4c4c4;
	margin-top:0px;
}


.jr-img-car-image{
	width: 100%;
}

.jr-startdate-format{
	padding:0px;
	margin-top:-8px;
}

.jr-booking-weekend-rate{
	margin: 10px 0px 10px 0px;
}

.jr-total-pay-hr{
	border-bottom:1px solid #c4c4c4;
}

.jr-total-cost-hr{
	border-bottom:1px solid #c4c4c4;
	margin-top:60px;
}

.jr-discount-tag{
	margin: 10px 0px 10px 0px;
	color: #4caf50 !important;
}

.jr-addon-tag{
	padding:0px !important;
	border:0px !important;
	cursor:default !important;
	border-bottom: 0px !important;
}

.jr-addon-hrtag{
	border-bottom:1px solid #c4c4c4;
	margin-top:10px;
}


.jr-accessory-name-tag{
	padding:0px !important;
	border:0px !important;
	cursor:default !important;
}

.jr-access-name-ptag{
	padding-top: 5px;
}

.jr-accessory-col{
	padding-right:0px;
}

.jr-span-discount{
	color: #4caf50 !important;
}

.jr-discount-hr-tag{
	border-bottom:1px solid #c4c4c4;
	margin-top:40px;
}

.jr-start-date-format-new{
	text-align:left;
	margin-right:-20px;
}

.jr-enddate-format{
	text-align:right;
}

.jr-starttime-format{
	padding-top:5px;
}

.jr-cursor-default{
	cursor:default;
}

.jr-to-tag{
	margin-top:8px; 
	position: absolute;
	margin-left:7px;
}

.jr-text-align-left{
	text-align:left;
}

.jr-span-input-glyph{
	margin-right:2px;
	color:#cb202e;
}

.jr-input-homepickup{
	margin-right:2px;
	color:#cb202e;
}

.jr-input-glyphicon{
	margin-right:2px;
	color:#cb202e;
}

.jr-get-directions{
	margin:0px;
	margin-top:20px;
}

.jr-section-get-directions{
	padding-right:0px;
	opacity:1;
}

.jr-map-view-booking{
	margin-top: 10px; 
	height: 250px;
}

.jr-map-block{
	height:240px;
}


.jr-get-directions-button{
	margin-top: 10px;
	padding-right:5px;
}

.jr-get-direction-btn{
	border-radius:0px;
}

.input-glyphs{
	margin-right: 4px !important;
}

.jr-text-home-pickup-right{
	margin-right:2px;
	color:#cb202e;
}

.jr-fare-detail-section{
	margin:0px;
}


.jr-text-align-center{
	text-align: center;
}

.jr-fare-detail-hrtag{
	width:80%;
	border-bottom:1px solid #c4c4c4;
	margin-top:0px;
}

.jr-fare-detail-content{
	padding-right:0px;
	opacity:1;
}


.jr-booking-discount-fare{
	color: #4caf50 !important;
}


.jr-booking-addon-fare{
	padding: 5px;
}

.jr-also-includes-tag{
	border-bottom:1px solid #c4c4c4;
}

.jr-includes-tag{
	text-transform:uppercase;
	color:#565a5c;
}

.jr-includes-margin{
	margin-top:10px;
}

.jr-icon-color-freekm{
	color:#757575;
}

.jr-cancel-ride-booking-page{
	margin:0px;
	margin-top:20px;
}

.jr-booking-cancel{
	margin-top: 10px;
}

.jr-section-cancel-booking{
	padding-right:0px;
	opacity:1;
}

.jr-confirm-booking-page-button{
	margin-left: 0 !important;
	margin-top: 10px !important;
	outline: none !important;
	border: none !important;
}


.jr-accessory-cost-section{
	padding-top: 5px;
}

.jr-section-cost-accessory{
	color:#565a5c !important;
}

.jr-access-padding{
	padding-top: 8px;
}

.jr-accessory-hrtag{
	border-bottom:1px solid #c4c4c4;
	margin-top:10px;
}

.jr-booking-detail-padding{
	padding: 0px !important;
	border: 0px !important;
	cursor: default !important;
}

.jr-input-booking-final-page{
	padding: 10px !important;
	margin-bottom: 0px !important;
	width:100% !important;
	text-transform: uppercase !important;
	background-color:#eeeeee !important;
}

.jr-exclamation-input{
	color:red;
}

.jr-booking-apply-button{
	padding: 0px !important;
	border: 0px !important;
	cursor: default !important;
}

.jr-coupon-input-box{
	padding: 0px !important;
    margin-top: 5px !important;
    border: 0px !important;
    cursor: default !important;
    border-bottom: 0px !important;
}

.jr-coupon-text-pclas{
	padding-top: 5px;
}

.jr-coupon-text-value{
	padding:0px !important;
	border:0px !important;
	cursor:default !important;
	display:inline-flex !important;
	float:right !important;
}

.jr-coupon-value-final{
	margin-top:5px;
}

.jr-coupon-padding-right-nil{
	padding-right:0px;
}

.jr-coupon-icon-left-auto{
	left:auto;
}

.jr-stack-icon-style{
	color: green;
	margin-left: 10px !important;
	transform: scale(2.5);
	transform-origin: 15px 20px;
}

.jr-coupon-icon-left-auto{
	left:auto;
}

.jr-booking-validcoupon{
	padding: 0px !important;
	border: 0px !important;
	cursor: default !important;
	text-align: right !important;
}

.jr-no-charge-for-free{
	text-align:center;
	padding:0px;
}

.jr-font-pencil{
	color: #FBAC4E !important;
    transform: scale(1.3) !important;
    -webkit-font-smoothing: antialiased !important;
}

.jr-creditCard-padding{
	padding-left: 20px !important;
    padding-right: 20px !important;
}

.remember-text-new{
	line-height: 24px !important;
}


.jr-spaced-newheader{
	font-size: 22px !important;
}

.payment-card-row{
	padding-left: 20px;
    padding-right: 20px;
}

.jr-new-payment-row{
	padding-top:20px;
}


.expiry-month-span{
	padding-left:20px;
}

.expiry-year-span{
	padding-left:30px;
}

.jr-pay-now-btn-click{
	margin-top:2px;
}

.jr-require-year{
	padding-left: 20px;
}

.jr-require-month{
	padding-left:30px;
}
.jr-btn-debit-pay{
	border-radius:4px;
}

.jr-require-cvv{
	padding-left:30px;
}

.jr-pay-now-btn-click-credit{
	padding: 20px;
	border-radius: 4px;
}

.jr-pay-btn-credit-new{
	padding-left:20px;
	padding-right: 20px;
}

.jr-btn-payu-new{
	border-radius: 4px;
}

.jr-expiry-debit-year{
	margin-left: 15px;
}

.jr-expiry-debit-month{
	margin-left: -30px;
}

.jr-cvv-new-btn{
	margin-left: -75px;
}

.jr-pay-bank-internet{
	padding:20px;
}

.internet-payment-new-box{
	padding:40px;
	margin-top: -50px;
}

@media screen and (max-width: 627px) {
	.jr-expiry-month-responsive{
		margin-bottom: 20px;
	}

	.jr-payment-expiry-year{
		margin-bottom: 20px;
	}

	.jr-responsive-card{
		padding:10px;
	}

	.jr-payment-header{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}


.jr-internet-pay{
	border-radius: 4px;
}

.jr-pay-now-saved-card{
	border-radius: 4px;
}

.optional{
	color: darkgray;
}

.selected-color{
	color: darkgray;
}

.input-form-card-pay{
	border-radius: 4px !important;
    border: 1px solid #adadad !important;
}

.jr-cvv-missing{
	position: absolute;
    padding: 0px;
    margin-left: -115px;
    margin-top: 40px;
    color: red;
}


.jr-empty-year-new{
	color: red;
}

.jr-empty-month-new{
	color: red;
}
.jr-debit-card{
	padding:10px;
}

.jr-padding-nil{
	padding: 0px;
}

.submit-search-btn{
	width:25%;
	margin-left: auto;
	margin-right: auto;
	background-color: #c63333 !important;
}

.contact-us-form{
	width: 100% !important;
	margin-left: 0px !important;
}

.jr-input-contact{
	width: 90% !important;
}

.jr-venue-name-new-text{
	color: #000;
}

.jr-landing-page-icon{
	max-height: 42px;
	max-width: 42px;
}

.jr-email-color-contact{
	color: #ffffff !important;
	font-weight: 200 !important;
}

.section-page-top{
	background-image: url('https://justride-assets.s3-ap-southeast-1.amazonaws.com/img/20151126043730-601393.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
}

.page-top-overlay{
	position: absolute;
	width: 100%;
	height: 900px;
	background-size: cover;
	background: rgba(0, 0, 0, .4);
	display: block;
}

.jr-center-text{
	color: #ffffff;
	margin-top: 350px;
	text-align: center;
}

.jr-btn-learn-more{
	border-radius: 0px;
	padding:10px;
	color: #ffffff;
	background-color: darkgray;
	font-size: 18px;
	width: 30%;
}

.jr-btn-register{
	border-radius: 0px;
	padding:10px;
	color: #ffffff;
	background-color: #c63333;
	font-size: 18px;
	width: 30%;
}

.section-page-middle{
	background-image: url('https://s3-ap-southeast-1.amazonaws.com/justride-assets/public/selfdrive-triangulated_bg.png');
	background-color: #FFFFFF;
	min-height: 400px;
  	max-height: 1000px;
	width: 100%;
}

.jr-why-ubiq{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	max-height: 500px;
}

.jr-door-step-delivery{
	border-radius: 50%;
	float:right;
	height:200px;
	width :200px;
}

.jr-share-the-fare{
	border-radius: 50%;
	height:200px;
	width :200px;
	margin-left: auto;
    margin-right: auto;
}

.jr-freedom-to-do-more{
	border-radius: 50%;
	float:left;
	height:200px;
	width :200px;
}

.jr-line-left{
	border: 1px solid gray;
    max-width: 500px;
    min-width: 300px;
    margin-top: 30px;
    height: 1px;
}

.jr-line-right{
	border: 1px solid gray;
    max-width: 500px;
    min-width: 300px;
    margin-top: 30px;
    height: 1px;
    margin-left: 30px;
}

.jr-tag-why-ubiq{
	margin-left: 30px;
	margin-top: 10px;
}

.jr-google-play{
	max-width:175px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 627px){
	.jr-btn-register{
		width: 100%;
	}

	.jr-btn-learn-more{
		width: 100%;
	}
}

@media screen and (max-width: 766px){
    .jr-door-step-delivery{
      float: none;
      margin-left: auto;
      margin-right: auto;
    }

    .jr-freedom-to-do-more{
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
}

.selectedCarHead{
	text-align: center;
}


.what-is-ubiq-text{
	font-size: 18px;
    font-weight: 200;
    margin-top: 60px;
    text-align: justify;
}


.what-is-ubiq-car{
	float: right;
	width: 500px;
    height: 300px;
}

.section-page-why-ubiq{
	min-height: 330px;
	max-height: 1000px;
}

.jr-why-ubiq-overlay{
	position: absolute;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background: rgba(0, 0, 0, .7);
	display: block;
}

.jr-doorstep-overlay-text{
	text-align: center;
    color: #ffffff;
}

.jr-door-step-overlay{
	padding-top: 20px;
}

.jr-span-doorstep-delivery{
	text-align: center;
	color: #FFFFFF;
	padding-top: 60px;
}

.jr-how-it-works-signup{
	width: 150px;
	height: 150px;
	float: right;
}


.jr-new-signup-text{
	font-size: 18px;
	font-weight: 200;
}

.jr-select-a-ride-text{
	font-weight: 200;
	font-size: 18px;
}

.how-it-works-select-ride{
    margin-left: 70px;
}

.jr-sign-up-icon{
	height: 150px;
	width: 150px;
}

.section-jr-page-available-cars{	
	min-height: 300px;
	max-height: 1000px;
	background-color: #E0E1E2;
}

.jr-how-it-works-margin{
	margin-top: 30px;
	padding-bottom:20px;
}

.image-slide{
	max-width: 700px;
	max-height: 700px;
	margin-left: auto;
    margin-right: auto;
}

.jr-img-available{
	max-width: 700px;
	max-height: 700px;
	margin-left: auto;
    margin-right: auto;	
}


.jr-btn-register-ubiq{
	background-color: #c63333;
	border: 1px solid #c63333;
	border-radius: 0px;
	color: #ffffff;
	width: 100%;
	padding: 10px;
}


.jr-btn-register-ubiq:hover{
	background-color: #f92d2d;
	border: 1px solid #f92d2d;
	border-radius: 0px;
	color: #ffffff;
}


.jr-ubiq-center-div{
	display: inline-flex;
	margin-left: 27%;
}


.jr-icon-plus{
	cursor: pointer;
}


.jr-expand-door-step-delivery{
	min-height: 330px;
	max-height: 1000px;
	width: 100%;
	background-color: #ffffff;
	position: absolute;
	z-index: 999;
}

.jr-expand-share-the-fare{
	min-height: 330px;
	max-height: 1000px;
	width: 100%;
	background-color: #ffffff;
	position: absolute;
	z-index: 990;
}


.jr-expand-pickup-drop{
	min-height: 330px;
	max-height: 1000px;
	width: 100%;
	background-color: #ffffff;
	position: absolute;
	z-index: 990;
}

.jr-cross-span{
	float:right;
	cursor: pointer;
}


.jr-door-step-delivery-detail-image{
	max-height: 150px;
	max-width: 150px;
	float: right;
}

.jr-para-content{
	max-width: 600px;
	text-align: justify;
	display: block;
}

.jr-door-step-detail{
	margin-top: 120px;
}

@media screen and (max-width: 767px){
	.what-is-ubiq-car{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.what-is-ubiq-text{
		margin-top: 0px;
		text-align: center;
	}

	.jr-door-step-delivery{
		margin-bottom: 20px;
	}

	.jr-share-the-fare{
		margin-bottom: 20px;
	}

	.jr-freedom-to-do-more{
		margin-bottom: 20px;
	}

	.jr-sign-up-icon{
		float: right;
	}

	.jr-door-step-detail{
		margin-top: 0px;
	}

	.jr-door-step-delivery{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.jr-door-step-delivery-detail-image{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.jr-expand-door-step-delivery{
		min-width: 400px;
	}

	.jr-expand-share-the-fare{
		margin-top: 330px;
		width: 400px;
	}

	.jr-freedom-to-do-more{
		float: none;
		margin-left: auto;
		margin-right: auto
	}

	.jr-expand-door-step-delivery{
		width:770px;
	}

	.jr-col-pad-ubiq{
		padding:30px;
	}

	.jr-expand-share-the-fare{
		width:770px;
	}

	.jr-expand-pickup-drop{
		width:770px;
		margin-top: 640px;
	}

	.jr-ubiq-center-div{
		margin-left: 20%;
	}

	.jr-why-ubiq{
		max-width: 600px;
	}
}


@media screen and (max-width: 627px){
	.jr-ubiq-center-div{
		margin-left: 30px;
	}

 	.what-is-ubiq-text{
 		margin-top: 0px;
 		padding: 0px 20px 20px 20px;
 	}

 	.jr-door-step-delivery{
 		margin-top: 20px;
    	margin-bottom: 20px;
 	}

 	.jr-share-the-fare{
 		margin-top: 20px;
 		margin-bottom: 20px;
 	}

 	.jr-freedom-to-do-more{
 		margin-top: 20px;
 		margin-bottom: 20px;
 	}

 	.how-it-works-select-ride{
 		margin-left: 10px;
 	}

 	.jr-col-pad-ubiq{
 		padding:20px;
 	}

 	.jr-expand-pickup-drop{
 		margin-top: 650px;
    	width: 400px;
	}

	.jr-how-it-works-signup{
		margin-top: 20px;
	    width: 120px;
	    margin-left: 5px;
	    height: 120px;
	    float: none;
	}

	.jr-select-a-ride-img{
		width: 120px;
	    height: 120px;
	    margin-left: 20px;
	    margin-top: 20px;
	}

	.jr-what-is-ubiq-img{
		max-width: 80%;
	}

	.jr-expand-door-step-delivery{
		max-width:400px;
	}

	.jr-expand-share-the-fare{
		max-width: 400px;
	}

	.jr-ubiq-travel{
		max-width: 340px !important;
	}
}

.jr-custom-date-time-picker{
	height:200px;
	width: 200px;
	position: absolute;
	background-color: #FFFFFF;
	display: block;
}

.jr-ubiq-pick-new-location{
	float: none;
	width: auto;
	height: auto;
}

.jr-zeropad{
	padding:0px;
}

.jr-ubiq-date-time{
	padding:0px !important;
	position: relative;
}

.jr-pick-time-new-ubiq{
	height: 200px;
	border:1px solid #ffffff;
	width: 400px;
    background-color: #ffffff;
    padding:5px;
}

.jr-ubiq-select-car{
	border-radius: 0;
    width: 100%;
    -webkit-appearance: none;
    height: 42px;
    text-indent: 1px;
    background-image: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position-x: 190px;
    background-position-y: 14px;
}

.jr-choose-week{
	text-align: center;
}

.jr-text-ubiq{
	text-align: center;
}

.jr-select-timing{
	background-color: red;
}

.jr-ubiq-start-end-date{
	text-align: center;
}

.jr-ubiq-drop-down{
	border: 1px solid #000;
	height: 100%;
	border-radius: 5px;
}

.jr-ubiq-circle{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #000;
	background-color: gray;
	position: absolute;
	text-align: center;
    font-size: 14px;
    margin-top: -10px;
    margin-top: -15px;
    margin-left: 10px;
}


.jr-ubiq-hr{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 0px;
	border-top: 1px solid gray;
}

.jr-to-span-circle{
	vertical-align: sub;
}


.jr-ubiq-start-date-week{
	margin-top: 10px;
	text-align: center;
}


.jr-ubiq-week-selection{
	width: 100%;
	background-color: red;
	min-height: 60px;
	border-radius: 5px;
	margin-top: 20px;
}

.jr-change-color{
	width: 100%;
	background-color: blue;
	min-height: 60px;
	border-radius: 5px;
	margin-top: 20px;
}

.jr-angle-right{
	position: absolute;
	float: right;
	margin-top: 85px;
    margin-left: -11px;
    cursor: pointer;
}

.jr-angle-left{
	position: absolute;
	margin-top: 85px;
    margin-left: -385px;
    z-index: 999;
    cursor: pointer;
}